/*
 * respeaker style
 * pc @ 2016-09-22
 */
@charset "UTF-8";
body {
    font-family: "OpenSans", "Helvetica", "Arial", "sans-serif";
    font-size: 16px;
    color: #4a4a4a;
    height:100%;
}
a { text-decoration: none;}
/*public style*/
.fl { float: left;}
.fr {float: right;}
.c-rp { color: #B3996D;}
.btn-rp {
    width: 100%;
    border-radius: 5px;
    background-color: #B3996D;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}
.btn-cancle {
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    color: #4c4c4c;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #dfdfdf;
}
.rp-login-wrap { padding: 0 28px;}
.rp-logo {
    text-indent: -99em;
    margin: 50px 0 90px 0;
}
.rp-logo img {
    width: 60%;
}
.row { width: 100%; margin: 12px 0;}
.row input {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    line-height: 48px;
    color: #9B9B9b;
}
.btn-login {
    display: block;
    color: #fff;
}
.seeed-logo {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    text-indent: -999em;
}
.seeed-logo img {
    width: 10em;
}
.layer {
    position: absolute;
    /*text-align: center;*/
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5) none repeat scroll !important;
    background:#000;
    filter:Alpha(opacity=50);
    z-index: 9;
}
.layer .content {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 320px;
    height: 380px;
    border-radius: 10px;
    background-color: #fff;
}
.layer .ico {
    width: 97px;
    padding-top: 100px;
    margin-bottom: 20px;
}
.layer p {
    margin: 10px 0;
}
.layer .loading-gif { width: 15%;}
/*list*/
.rp-list {
    position: relative;
    padding:20px;
}
.wifi-searching {
    position: absolute;
    width: 40%;
    text-align: center;
    top: 40%;
    margin: 0 24%;
}
.wifi-searching img {
    margin: 0 auto;
}
.rp-list .list {
    margin: 25px 0 0 0;
    height: 320px;
    list-style-type: none;
    padding: 0;
    overflow: scroll;
}
.rp-list .list li {
    padding-left: 10px;
    line-height: 50px;
    border-bottom: 1px solid #dfdfdf;
    clear: both;
}
.rp-list .list li .single-ico {
    position: relative;
    top: 15px;
    right: 10px;
    display: block;
    width: 15px;
    height: 15px;
}
.rp-list .list li .single-0,
.rp-list .list li .single-1 {
    background: url('../img/single-1.png') 0 0 no-repeat;
}
.rp-list .list li .single-2 {
    background: url('../img/single-2.png') 0 0 no-repeat;
}
.rp-list .list li .single-3,
.rp-list .list li .single-4 {
    background: url('../img/single-3.png') 0 0 no-repeat;
}
.btn-close-list {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    padding: 10px;
}
.update-box .btn {
    display: inline-block;
    text-decoration: none;
    width: 30%;
}
.update-box .btn-rp {
    margin-right: 5%;
    color: #fff;
}
.update-box .text {
    margin: 30% 0 20% 0;
}
.update-box .btn-update-now {
    width: 50%;
    margin-right: 0;
}
/*.rp-list .list li:last-child { border: none;}*/

/* query style */
@media screen and (min-width: 800px) {
    body {

    }
    .rp-login-wrap {
        width: 500px;
        margin: 0 auto;
    }
    .layer .content {
        width: 500px;
    }
    .rp-list .list {
        overflow-x: hidden;
    }
}
