<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=" width=device-width, initial-scale=1, maximum-scale=1, user-saclable = no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Respeaker login</title>
    <link rel="stylesheet" href="css/seeed_public.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vue.min.js"></script>
    <script src="js/sha.js"></script>
</head>
<body>
    <div class="rp-login-wrap f14" id="rp-login">
        <div class="rp-logo">
            Respeaker - SeeedStudio
            <img src="img/rp_logo_h.png" alt="" class="center">
        </div>
        <!-- choose wifi list -->
        <div v-if="isNormalList">
            <div class="row">
                <input type="text" placeholder="SSID" readonly value="{{ssid_name}}" v-on:click='showSSIDList'>
            </div>
            <div class="row">
                <!-- <input type="password" placeholder="Password" v-model="ssid_psw" v-on:focus="clearText"> -->
                <input type="password" placeholder="Password" v-model="ssid_psw">
            </div>
            <div class="row">
                <a href="" class="btn-rp f16 btn-login" v-on:click.prevent="connectWifi">OK</a>
            </div>
        </div>
        <!-- fill in wifi -->
        <div v-if="!isNormalList">
            <div class="row">
                <input type="text" placeholder="SSID" value="root" readOnly v-model="nowChooseItem.ssid">
            </div>
            <div class="row">
                <!-- <input type="password" placeholder="Password" v-model="ssid_psw" v-on:focus="clearText"> -->
                <input type="password" placeholder="Password" v-model="ssid_psw">
            </div>
            <div class="row">
                <a href="#" class="btn-rp f16 btn-login j-fill-account">OK</a>
            </div>
        </div>

        <a href="" class="seeed-logo">
            SeeedStudio
            <img src="img/logo_horizontal.png" alt="" class="center">
        </a>
        <!-- wifi list -->
        <div class="layer j-rp-list" v-show="isShowList">
            <div class="content center rp-list">
                <img src="img/close.svg" class="btn-close-list" @click.prevent="closeWifiList"></img>
                <ul class="f16 list">
                    <template v-for="item in ssidList">
                        <li v-on:click="chooseSSID(item)" v-show="item.ssid != ''">
                            <span class="fl">{{ item.ssid }}</span>
                            <span class="fr single-ico single-{{ item.siganl | formatSingle }}"></span>
                        </li>
                    </template>
                </ul>
                <div class="wifi-searching" v-if="!isSearchWifiDone">
                    <img src="img/loading.gif" alt="search wifi" >
                    <div>Scanning wifi</div>
                </div>
            </div>
        </div>
        <!-- 弹出层 -->
        <div class="layer tc" v-if="isConnectingWifiSuccess">
            <div class="content center">
                <img src="img/success.png" alt="" class="ico center">
                <p>Respeaker is now ready.</p>
                <p>Have Fun!</p>
            </div>
        </div>
        <div class="layer tc" v-if="isConnectingWifi">
            <div class="content center">
                <img src="img/loading.gif" alt="" class="ico center loading-gif">
                <p>Connecting wifi</p>
            </div>
        </div>
        <div class="layer tc" v-if="isOpenUpdate">
            <div class="content center update-box">
                <div v-if="!isDownLoadingFirmware && !isDownLoadingFirmwareDone">
                    <p class="text">A new firmware is available. Update now?</p>
                    <div>
                        <a href="#" class="btn btn-rp" @click.prevent="updateFirmware">UPDATE</a>
                        <a href="#" class="btn btn-cancle" @click.prevent="skipFirmware">SKIP</a>
                    </div>
                </div>
                <!-- downloading -->
                <div v-if="isDownLoadingFirmware">
                    <div class="text">Downloading {{ downloadProgress }}</div>
                </div>
                <!-- final update -->
                <div v-if="isDownLoadingFirmwareDone">
                    <div v-if="isMD5Pass">
                        <p class="text">Download Success</p>
                        <a href="#" class="btn btn-rp btn-update-now" @click.prevent="updateNow">UPDATE NOW</a>
                    </div>
                    <div else>
                        <p class="text">Download error</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/respeaker.io/firmware/version.js"></script>
    <script src="js/app.js"></script>

    </script>
</body>
</html>
